@font-face {font-family:"Days"; src:url("../fonts/Days.woff") format("woff"); font-weight:normal; font-style:normal}

body {min-width:480px; margin:0; padding:0; font:14px/20px "Open Sans", sans-serif; color:#313132; background:#fff}

a {color:#a01949; outline:none}
a:hover {color:#000}

img {border:none}

p {margin:20px 0; padding:0}
h1 {font-weight:normal; font-size:40px; line-height:40px; margin:36px 0 25px 0; padding:0}
h2 {font-weight:600; font-size:30px; line-height:30px; color:#a01949; margin:43px 0 22px 0; padding:0}
h3 {font-weight:600; font-size:20px; line-height:20px; color:#a01949; margin:37px 0 23px 0; padding:0}
hr {display:block; width:100%; height:3px; background:#a01949; border:none; margin:32px 0 41px 0; padding:0}
ul {margin:20px 0; padding:0; list-style:none}
ul li {margin:10px 0; padding:0 0 0 20px; position:relative}
ul li:before {content:""; display:block; width:8px; height:8px; background:#a01949; position:absolute; left:0; top:6px; border-radius:4px}
ol {margin:20px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:10px 0; padding:0 0 0 20px; position:relative}
ol li:before {content:counter(point)'.'; counter-increment:point 1; left:0; position:absolute; top:0; font-weight:bold; color:#a01949}
blockquote {font-size:14px; line-height:20px; font-style:italic; color:#313132; background:#f8f6f7; margin:32px 0 40px 0; padding:19px 20px 21px 20px}
table {width:100%; border-collapse:collapse; margin:20px 0}
th {text-align:left; padding:18px 20px 22px 20px; vertical-align:middle; font-weight:normal; color:#a01949}
table tbody tr:nth-child(odd) {background:#f8f6f7}
td {text-align:left; padding:18px 20px 22px 20px; vertical-align:middle}
form {margin:40px 0; padding:0}

.btn {display:inline-block; vertical-align:top; border:none; text-decoration:none; color:#fff; overflow:visible; font:15px/40px "Open Sans", sans-serif; width:280px; text-align:center; height:40px; margin:0; padding:0; outline:none; text-transform:uppercase; background:#a01949; border-radius:2px; cursor:pointer; -webkit-appearance:none}
.btn:hover {color:#fff}

.form-error {background:#fefbfb; text-align:center; margin:37px 0 20px 0; padding:19px 20px 18px 20px; border:1px solid #ffd9d9}
.form-error-title {color:#ff411b; text-transform:uppercase; font-size:15px; font-weight:bold}
.form-error-text {padding:8px 0 0 0}

.form-row {margin:15px 0; display:table; width:100%}
.form-label {display:table-cell; vertical-align:top; width:200px; font-weight:bold; padding:6px 0 0 0}
.form-label span {color:#a01949}
.form-field {display:table-cell; vertical-align:top}

.form-input input {border:1px solid #d9d9d9; font:14px/20px "Open Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 9px 7px 9px; width:100%; height:35px; box-sizing:border-box; outline:none; background:#fff; -webkit-appearance:none}
.form-input input.error {border-color:#a01949; border-width:2px; padding:5px 8px 6px 8px}
.form-input input::-webkit-input-placeholder {color:#d4d4d4; opacity:1}
.form-input input::-moz-placeholder {color:#d4d4d4; opacity:1}
.form-input input:-ms-input-placeholder {color:#d4d4d4; opacity:1}

.form-textarea textarea {border:1px solid #d9d9d9; font:14px/20px "Open Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 9px 7px 9px; width:100%; height:95px; box-sizing:border-box; outline:none; background:#fff; overflow:auto; resize:none; -webkit-appearance:none}
.form-textarea textarea.error {border-color:#a01949; border-width:2px; padding:5px 8px 6px 8px}
.form-textarea textarea::-webkit-input-placeholder {color:#d4d4d4; opacity:1}
.form-textarea textarea::-moz-placeholder {color:#d4d4d4; opacity:1}
.form-textarea textarea:-ms-input-placeholder {color:#d4d4d4; opacity:1}

.form-field label.error {display:none !important}

.form-radio {margin:6px 0 10px 0; color:#000}
.form-radio:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-radio div {float:left; padding:0 0 0 26px; position:relative; cursor:pointer}
.form-radio div:before {content:""; display:block; width:14px; height:14px; border:1px solid #c1c1c1; border-radius:8px; position:absolute; left:0; top:4px}
.form-radio div.checked {font-weight:bold}
.form-radio div.checked:before {border-color:#a01949}
.form-radio div.checked:after {content:""; display:block; width:10px; height:10px; background:#a01949; border-radius:5px; position:absolute; left:3px; top:7px}
.form-radio input {display:none}

.form-field-col {float:left; width:50%; padding:0 10px 0 0; box-sizing:border-box}
.form-field-col+.form-field-col {padding:0 0 0 10px}

.form-select select {width:100%; border:1px solid #d9d9d9; font:14px/20px "Open Sans", sans-serif; color:#000; height:35px; margin:0; padding:6px 9px 7px 9px; background:#fff; box-sizing:border-box}

.form-file-title {display:none; padding:5px 0}
.form-file-input {position:relative; width:136px; height:35px; overflow:hidden; background:#f8f6f7; text-align:center; cursor:pointer; line-height:35px; color:#a01949; border-radius:2px}
.form-file-input span {background:url(../images/input-file.png) repeat-x left bottom}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}

.form-ctrl {margin:53px 0 0 0}
.form-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-submit {float:left}
.form-required-text {float:right; line-height:40px; color:#000}
.form-required-text strong {color:#a01949}

.top {background:#a01949; padding:0 40px; font-size:15px; line-height:40px; color:#fff}
.top-inner {display:table; width:100%; max-width:1300px; margin:0 auto}
.top-inner a {display:table-cell; vertical-align:middle; text-decoration:none; color:#fff; height:40px; border-left:1px solid #ab3861; text-align:center}
.top-inner a:first-child {border:none}
.top-inner a:hover {background:#820d2f}
.top-inner a.top-cart {border-left:none; background:#781031}
.top-inner a.top-cart:hover {background:#820d2f}
.top-inner a.top-cart+a {border-left:none}
.top-inner div {display:table-cell; vertical-align:middle; height:40px; border-left:1px solid #ab3861; text-align:center}
.top-inner div:first-child {border:none}
.top-inner img {vertical-align:middle; margin:-4px 5px 0 0}
.top-inner span {display:inline-block; vertical-align:middle; background:#fff; width:25px; height:25px; color:#a01949; border-radius:13px; line-height:24px; margin:-2px 0 0 0}
.top-inner em {font-style:normal; color:#f82570; margin:0 0 0 6px}

header {padding:40px 40px 20px 40px}
.header-inner {display:table; width:100%; max-width:1300px; margin:0 auto}
.logo {display:table-cell; line-height:0; vertical-align:top; width:264px}
.header-search {display:table-cell; vertical-align:top; padding:0 36px 0 40px}
.header-search form {margin:0; padding:0; border:1px solid #c1c1c1; border-radius:2px; height:37px}
.header-search form:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.header-search-submit {float:right; padding:9px 14px 0 0}
.header-search-submit input {vertical-align:top; width:17px; height:17px; border:none; background:url(../images/header-search.png); margin:0; padding:0; outline:none; cursor:pointer; -webkit-appearance:none}
.header-search-input {margin:0 43px 0 0}
.header-search-input input {float:left; border:none; font:14px/20px "Open Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:7px 0 8px 12px; width:100%; height:37px; box-sizing:border-box; outline:none; background:none; -webkit-appearance:none}
.header-search-input input::-webkit-input-placeholder {color:#abacac; opacity:1}
.header-search-input input::-moz-placeholder {color:#abacac; opacity:1}
.header-search-input input:-ms-input-placeholder {color:#abacac; opacity:1}
.header-menu {display:table-cell; vertical-align:top; white-space:nowrap; font-size:16px; line-height:39px; width:1%}
.header-menu ul {display:inline-block; vertical-align:top; margin:0; padding:0; list-style:none}
.header-menu li {display:inline-block; vertical-align:top; margin:0 0 0 15px; padding:0}
.header-menu li:before {display:none}
.header-menu li:first-child {margin:0}
.header-menu a {color:#313132}
.header-menu a:hover {color:#a01949}

.content {padding:0 40px; margin:20px auto 40px auto; max-width:1300px}

.breadcrumbs {font-size:12px; color:#3a3738; margin:0 0 20px 0}
.breadcrumbs a {color:#781031; text-decoration:none}
.breadcrumbs a:hover {text-decoration:underline}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:6px; height:9px; background:url(../images/breadcrumbs.png); margin:0 7px}

.menu {margin:0 40px 20px 40px}
.menu-inner {margin:0 auto; max-width:1300px; position:relative}
.menu-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.menu-categories {float:left; width:50%; box-sizing:border-box; padding:0 10px 0 0}
.menu-categories-title {background:#781031 url(../images/menu-categories.png) no-repeat 10px 10px; color:#fff; text-transform:uppercase; padding:0 0 0 54px; height:39px; font:14px/39px Days, "Open Sans", sans-serif; border-radius:2px}
.menu-categories-inner {display:none; position:absolute; left:0; top:100%; width:100%; background:#a01949; font-size:15px; border-radius:2px; z-index:20}
.menu-categories:hover .menu-categories-inner {display:block}
.menu-categories-inner ul {float:left; margin:0; padding:0; list-style:none; width:25%; box-sizing:border-box; padding:0 10px}
.menu-categories-inner ul+ul {padding-left:30px}
.menu-categories-inner ul li {margin:0; padding:0; border-top:1px solid #781031}
.menu-categories-inner ul li:before {display:none}
.menu-categories-inner ul li:first-child {border:none}
.menu-categories-inner ul li a {display:table; width:100%; text-decoration:none; color:#fff}
.menu-categories-inner ul li a:hover {background:#781031}
.menu-categories-inner ul li a div {display:table-cell; vertical-align:middle; width:55px; line-height:0; padding:7px 0 12px 0}
.menu-categories-inner ul li a span {display:table-cell; vertical-align:middle; padding:7px 0 12px 0}

.menu-who {float:right; width:50%; box-sizing:border-box; padding:0 0 0 10px}
.menu-who ul {margin:0; padding:0; list-style:none; background:#f8f6f7; border-radius:2px; text-align:center; text-transform:uppercase; padding:5px 0; font:14px/29px Days, "Open Sans", sans-serif}
.menu-who ul li {display:inline-block; vertical-align:top; margin:0; padding:0}
.menu-who ul li:before {display:none}
.menu-who ul li a {text-decoration:none; display:block; padding:0 20px; border-radius:2px}
.menu-who ul li.active a {color:#fff; background:#a01949}

.product {margin:40px 0}
.product:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.product-left {float:left; width:32%}

.product-photo {line-height:0}
.product-photo img {width:100%}

.product-rates {padding:16px 0 0 0}
.product-rates:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-rating {float:left}
.rating {width:125px; height:21px; background:url(../images/product-rating.png)}
.rating div {width:0; height:21px; background:url(../images/product-rating.png) left -21px}
.rating div.rating-1 {width:20%}
.rating div.rating-2 {width:40%}
.rating div.rating-3 {width:60%}
.rating div.rating-4 {width:80%}
.rating div.rating-5 {width:100%}
.product-rating .rating {margin:6px 0 0 0}
.product-social {float:right; text-align:right}
.product-rates-title {font-size:12px; font-weight:bold}
.product-social-likes {margin:4px -3px 0 0}

.product-response {background:#f8f6f7; padding:29px 30px 31px 30px; position:relative; margin:40px 0 0 0}
.product-response:after {content:""; display:block; width:0; height:0; border-top:20px solid #f8f6f7; border-right:20px solid transparent; position:absolute; left:33px; bottom:-20px}
.product-response-link {text-transform:uppercase; font-weight:bold}
.product-response-text {padding:20px 0 0 0}
.product-response-author {font-size:12px; padding:20px 0 0 0}
.product-response-author strong {text-transform:uppercase}
.product-response-new {text-align:center; text-transform:uppercase; font-weight:bold; padding:40px 0 0 0}

.product-right {float:right; width:49%; padding:0 8% 0 0}
.product-right h1 {margin:-7px 0 36px 0}

.subscribe {margin:46px 0}
.subscribe-tabs ul {margin:0; padding:0; list-style:none}
.subscribe-tabs ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.subscribe-tabs ul li {float:left; width:50%; padding:5px 5px 5px 0; margin:0; box-sizing:border-box; border-radius:2px 2px 0 0}
.subscribe-tabs ul li+li {padding:5px 0 5px 5px}
.subscribe-tabs ul li.active {background:#f8f6f7}
.subscribe-tabs ul li:before {display:none}
.subscribe-tabs ul li a {display:block; border:2px solid #f8f6f7; border-radius:2px; height:46px; text-decoration:none; text-align:center; text-transform:uppercase; font-weight:bold; font-size:13px; line-height:46px; color:#313132}
.subscribe-tabs ul li a:hover {color:#a01949}
.subscribe-tabs ul li.active a {color:#a01949; font-size:15px}

.subscribe-container {position:relative}
.subscribe-content {background:#f8f6f7; border-radius:0 2px 2px 2px; position:absolute; left:-9999px; top:-9999px; width:100%}
.subscribe-content.active {position:relative; left:auto; top:auto}
.subscribe-content+.subscribe-content {border-radius:2px 0 2px 2px}
.subscribe-content form {margin:0; padding:20px}
.subscribe-inner {padding:29px 0 0 0}
.subscribe-params {display:none}
.subscribe-monthes {text-transform:uppercase; text-align:center; font-size:10px; color:#a7a9ac}
.subscribe-monthes:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.subscribe-month {float:left; position:relative; padding:0 0 19px 0}
.subscribe-month.active {color:#a01949}
.subscribe-month span {display:block; width:40px; position:absolute; left:50%; top:-21px; margin-left:-20px; font-size:15px; font-weight:bold; color:#313132}
.subscribe-month:after {content:""; display:block; width:1px; height:9px; position:absolute; left:50%; bottom:0; background:#a7a9ac}
.subscribe-month.active:after {background:#a01949}
.subscribe-slider-wrap {background:#fff}
.subscribe-cost {padding:39px 0 0 0}
.subscribe-cost:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.subscribe-cost-text {float:left; padding:5px 0 0 0}
.subscribe-cost-title {font-size:20px; font-weight:600; color:#a01949}
.subscribe-cost-period {padding:3px 0 0 0}
.subscribe-cost-sep {float:left; font-weight:bold; color:#a01949; font-size:20px; padding:5px 19px 0 19px}
.subscribe-count {float:left; background:#fff; height:34px}
.subscribe-count-value {float:left; color:#a01949; font-weight:bold; font-size:20px; line-height:34px; padding:0 10px}
.subscribe-count-unit {float:left; color:#a01949; font-weight:bold; font-size:20px; line-height:34px; padding:0 23px 0 0}
.subscribe-count-ctrl {float:left; width:19px; background:#b3476d}
.subscribe-count-inc {display:block; height:17px; background:#a01949; position:relative}
.subscribe-count-inc:hover {background:#820d2f}
.subscribe-count-inc:before {content:""; display:block; width:9px; height:1px; background:#fff; position:absolute; left:5px; top:8px}
.subscribe-count-inc:after {content:""; display:block; width:1px; height:9px; background:#fff; position:absolute; left:9px; top:4px}
.subscribe-count-dec {display:block; height:16px; background:#a01949; position:relative; margin-top:1px}
.subscribe-count-dec:before {content:""; display:block; width:9px; height:1px; background:#fff; position:absolute; left:5px; top:8px}
.subscribe-count-dec:hover {background:#820d2f}
.subscribe-cost-results {float:left}
.subscribe-cost-summ {font-weight:bold; font-size:20px; color:#a01949; padding:4px 0 0 0}
.subscribe-cost-results-count {padding:4px 0 0 0}
.subscribe-btns {padding:41px 0 0 0}
.subscribe-btns:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.subscribe-btns .btn {width:100%}
.subscribe-submit {float:left; width:50%; padding:0 10px 0 0; box-sizing:border-box}
.subscribe-older {float:right; width:50%; padding:0 0 0 10px; box-sizing:border-box}
.subscribe-older .btn {background:#d8cdd3}

.product-info {padding:0 80px 0 20px}
.product-info-detail {display:none}
.product-info-detail-link {text-transform:uppercase}
.product-info-detail-link a {text-decoration:none; background:url(../images/dots.png) repeat-x left bottom}
.product-info-detail-link a:hover {background:none}
.product-info dl {margin:30px 0; padding:0}
.product-info dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-info dt {float:left; clear:left; width:120px; margin:0 0 10px 0; padding:0}
.product-info dd {margin:0 0 10px 130px; font-weight:bold; padding:0}

.other {background:#f8f6f7; padding:40px}
.other-2 {background:none}
.other-inner {margin:0 auto; max-width:1300px}
.other-title {border-bottom:1px solid #9c1847}
.other-title:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.other-title div {float:left; padding:0 20px; height:41px; line-height:41px; font-weight:600; font-size:20px; color:#fff; background:#9c1847; position:relative}
.other-title div:after {content:""; display:block; width:0; height:0; position:absolute; left:0; bottom:-9px; border-left:9px solid #9c1847; border-bottom:9px solid transparent}
.other-list {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px}
.other-item {display:inline-block; vertical-align:top; box-sizing:border-box; padding:40px 20px 0 20px; width:25%}
.other-item-img {border:1px solid #e8e8e8; padding:6px}
.other-item-img img {width:100%}
.other-item-buy {padding:7px 0 0 0}
.other-item-buy:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.other-item-price {float:left; height:40px; padding:0 10px; font-size:18px; line-height:40px; color:#fff; letter-spacing:0; background:#9c1847}
.other-item-buy a {float:left; height:38px; border:1px solid #e8e8e8; text-decoration:none; padding:0 10px; line-height:38px; font-size:13px; letter-spacing:0; color:#2e302f}
.other-item-title {font-size:18px; line-height:20px; letter-spacing:0; padding:12px 0 0 0}
.other-item-title a {color:#2e302f; text-decoration:none}
.other-item .rating {width:80px; height:16px; background:url(../images/star.png); margin:12px 0 0 0}
.other-item .rating div {height:16px; background:url(../images/star.png) left -16px}
.other-more {display:block; margin:30px auto 0 auto; width:253px; text-transform:none; font-size:12px}

footer {background:#efefef; padding:0 40px 18px 40px}
.footer-inner {margin:0 auto; max-width:1300px}
.footer-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-1 {float:left; width:30%; margin:0 5% 0 0}
.footer-title {font:300 26px/30px "Open Sans Condensed", sans-serif; color:#000; padding:10px 0 0 0}
.footer-1 form {margin:15px 0 0 0; padding:0; display:table; width:100%}
.footer-subscribe-input {display:table-cell; vertical-align:top}
.footer-subscribe-input input {vertical-align:top; width:100%; height:40px; border:1px solid #737373; background:#fff; box-sizing:border-box; margin:0; padding:0 11px; outline:none; font:13px/40px "Open Sans", sans-serif; color:#484a4f; -webkit-appearance:none}
.footer-subscribe-input input.error {border-color:#a01949}
.footer-subscribe-input label.error {display:none !important}
.footer-subscribe-input input::-webkit-input-placeholder {color:#484a4f; opacity:1}
.footer-subscribe-input input::-moz-placeholder {color:#484a4f; opacity:1}
.footer-subscribe-input input:-ms-input-placeholder {color:#484a4f; opacity:1}
.footer-subscribe-submit {display:table-cell; vertical-align:top; width:112px}
.footer-subscribe-submit .btn {width:100%; font-size:24px; font-weight:300; font-family:"Open Sans Condensed", sans-serif; text-transform:none; border-radius:0}
.footer-subscribe-hint {font-size:11px; color:#737373; padding:9px 0 4px 0}
.footer-subscribe-hint span {color:#a01949}
.footer-social {line-height:0; padding:7px 0 0 0}
.footer-social ul {margin:0; padding:0; list-style:none}
.footer-social ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-social ul li {margin:0 0 0 6px; padding:0; float:left}
.footer-social ul li:first-child {margin:0}
.footer-social ul li:before {display:none}
.footer-2 {float:left; width:15%; margin:0 5% 0 0}
.footer-2 ul {font-size:13px; margin:0; padding:6px 0 0 0; list-style:none}
.footer-2 ul li {padding:0; margin:10px 0 0 0}
.footer-2 ul li:before {display:none}
.footer-2 ul li a {color:#484a4f}
.footer-2 ul li a:hover {text-decoration:none}
.footer-3 {float:left; width:25%; padding:16px 0 0 0}

.bottom {background:#a01949; height:40px; padding:0 40px}
.bottom-inner {max-width:1300px; margin:0 auto}
.bottom-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.bottom-inner ul {margin:0; padding:0; list-style:none; float:left; font-size:13px; line-height:40px}
.bottom-inner ul li {float:left; margin:0 0 0 17px; padding:0}
.bottom-inner ul li:first-child {margin:0}
.bottom-inner ul li:before {display:none}
.bottom-inner ul li a {color:#fff; text-decoration:none}
.bottom-inner ul li a:hover {text-decoration:underline}
.bottom-inner div {float:right; padding:4px 0 4px 38px; background:url(../images/copy.png) no-repeat left 3px; font-size:11px; line-height:15px; color:#fff}
.bottom-inner div a {color:#fff}
.bottom -innerdiv a:hover {text-decoration:none}

.payments {padding:24px 40px 58px 40px; max-width:1300px; margin:0 auto}
.payments-title {font:300 26px/40px "Open Sans Condensed", sans-serif; color:#000}
.payments-title img {vertical-align:middle; margin:0 0 0 15px}
.payments-text {color:#737373; font-size:13px; padding:26px 0 0 0}

.slider {position:relative; height:400px}
.slider-content {position:absolute; left:0; top:0; width:100%; height:100%}
.slider-content ul {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; list-style:none}
.slider-content ul li {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; background-color:#000; background-size:cover; background-repeat:no-repeat; background-position:center; overflow:hidden}
.slider-content ul li:first-child {z-index:2}
.slider-content ul li:before {display:none}
.slider-ctrl {z-index:3; position:absolute; right:20px; top:20px; width:240px}
.slider-ctrl a {display:block; text-decoration:none; color:#000; margin:0 0 10px 0; height:60px; background:#fafafa; padding:0 0 0 68px; font-size:16px; line-height:60px; position:relative}
.slider-ctrl a.active {color:#fff; background:#a01949}
.slider-ctrl a img {position:absolute; left:0; top:0}
.slider-ctrl a:first-child img {top:-8px}

.main {margin:30px 0 0 0}
.main:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-title:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-title div {float:left; padding:0 15px; height:41px; font:300 30px/41px "Open Sans Condensed", sans-serif; color:#fff; background:#a01949; position:relative}
.main-title div:after {content:""; display:block; width:0; height:0; position:absolute; left:0; bottom:-9px; border-left:9px solid #a01949; border-bottom:9px solid transparent}

.main-popular {float:left; width:300px}

.main-popular .other-list {margin:0; width:200px}
.main-popular .other-item {display:block; padding:20px 0; width:100%}
.main-popular .other-item-img {border:none; padding:0}
.main-popular .other-item-buy {padding:4px 0 0 0}

.main-popular-ctrl {float:right; margin:27px 34px 0 0}
.main-popular-ctrl span {display:block; width:22px; height:12px; margin:0 0 9px 0; cursor:pointer}
.main-popular-ctrl span.main-popular-up {background:url(../images/left.png)}
.main-popular-ctrl span.main-popular-up:hover {background-position:left -12px}
.main-popular-ctrl span.main-popular-down {background:url(../images/right.png)}
.main-popular-ctrl span.main-popular-down:hover {background-position:left -12px}

.main-content {margin:0 0 0 300px}
.main-content-wrap {float:left; width:100%}
.main-content .main-title {border-bottom:1px solid #a01949}

.owl-carousel {margin:20px 0 40px 0}
.item {margin:0 15px; color:#000}
.item a {color:#2e302f}
.image-block {border:1px solid #e8e8e8; padding:5px; line-height:0}
.image-block img {width:100%}
.text-block {border:1px solid #e8e8e8; border-top:none}
.price-block {border-bottom:1px solid #e8e8e8}
.price-block:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.new-price {float:left; width:50%; border-right:1px solid #fff; box-sizing:border-box; height:40px; font-size:18px; line-height:40px; text-align:center; color:#fff; background:#a01949; position:relative}
.new-price:before {content:""; position:absolute; left:-10px; top:0; display:block; width:11px; height:100%; background:#a01949}
.new-price:after {content:""; position:absolute; left:-10px; top:100%; display:block; width:0; height:0; border-top:6px solid #a01949; border-left:10px solid transparent}
.old-price {float:left; width:50%; height:40px; font-size:18px; line-height:40px; text-align:center; color:#fff; background:#484a4f; text-decoration:line-through}
.button_subscription {float:left; width:50%; border-right:1px solid #e8e8e8; box-sizing:border-box; font-size:13px; line-height:38px; text-align:center; text-decoration:none}
.button_subscription:hover {color:#fff; background:#a01949; box-shadow:inset 0 1px 0 #8f0838}
.button_buy {float:left; width:50%; font-size:13px; line-height:38px; text-align:center; text-decoration:none}
.button_buy:hover {color:#fff; background:#a01949; box-shadow:inset 0 1px 0 #8f0838}
.title {font-size:18px; line-height:24px; padding:10px 6px}
.title a {text-decoration:none}
.item .rating {width:80px; height:16px; background:url(../images/star.png); margin:0 0 10px 6px}
.item .rating div {height:16px; background:url(../images/star.png) left -16px}